

html {
    font-size: 100%;
    color-scheme: light dark;
    overflow-x: hidden;
  }
  
  *,*::before,
  *::after {
    box-sizing: border-box;
  }
  
  /* Remove default margin */
  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }
  
  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role='list'],
  ol[role='list'] {
    list-style: none;
  }
  
  /* Set core root defaults */
  html:focus-within {
    scroll-behavior: smooth;
  }
  
  /* Set core body defaults */
  body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    cursor: pointer;
    scroll-behavior: smooth;
  }
  
  /* A elements that don't have a class get default styles */
  a:not([class]) {
    text-decoration-skip-ink: auto;
  }
  
  /* Make images easier to work with */
  img,
  picture {
    max-width: 100%;
    display: block;
  }
  
  img {
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
  }
  
  /* Inherit fonts for inputs and buttons */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  
  /* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
      scroll-behavior: auto;
    }
  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

    
@font-face {
    font-family: j1;
    src: url(j2.otf);
}
@font-face {
    font-family:j2;
    src:url(j3.ttf);
}
:root{
    --h1-font:clamp(1.75rem,2vw + 1rem,3rem);
    --bg-1:#faf9f6;
    --bg-2: #ffc436;
    --bg-3:#edb74d;
    --bg-4:#151515;
    --bg-5:#6fb18a;
    --m-g:5rem;
    --ms-text: clamp(2rem, 1.5vw + .65rem, 2.25rem);
    --h2-text: clamp(2rem, 1.5vw + 0.75rem, 2.5rem);
    --l-text: clamp(1.3rem, 0.75vw + 0.75rem, 1.5rem);
    --p-text:clamp(1.15rem, 0.7vw + 0.5rem, 1.35rem);
    --p1-text:clamp(1.35rem, 1vw + 0.25rem, 1.45rem);
    --h1-text: clamp(2.5rem, 3vw + 1rem, 3.5rem);
    --m-text: clamp(1rem, 0.75vw + 0.75rem, 3rem);
  --ml-text: clamp(1.35rem, 2vw + 1rem, 1.75rem);
--brg-heading: clamp(2.5rem, 2.5vw + 1rem, 5rem);
--xl-text: clamp(2rem, 1.5vw + 0.5rem, 3.5rem);
  
}

body{
    text-rendering: optimizeSpeed;
    line-height:1.6;
    overflow-x: hidden;
    min-height:100vh;
    width:100%;
    font-family:j2;
    color:black;
background:var(--bg-1);
    scrollbar-width:thin;
    scrollbar-color:#760026;
}
::-webkit-scrollbar{
     width: 7px;
   }
   ::-webkit-scrollbar-track{
     background: linear-gradient(45deg,purple,#f80351,purple);
   }
   ::-webkit-scrollbar-thumb{
     background: linear-gradient(45deg,lightsalmon,#c97b95);
     box-shadow: 0 -100vh 0 100vh rgb(238, 238, 155),0 0 15px 5px black;
   }
.scrollContainer{
    overflow-x:hidden;
}
.web-intro{
    position:fixed;
    inset:0;
    z-index:999;
    background:red;
    color:white;
    overflow:hidden;
    height:100dvh;
    width:100%;
    display:grid;
    place-items:center;
}
.loader{
    
    position: absolute;
    width:300px;
    height:50px;
    top:50%;
    z-index:997;
    left:50%;
    transform:translate(-50%,-50%);
    background:rgba(0,0,0,1);
    display:flex;
}
.loader1,.loader2{
    position:relative;
    
    height:100%;
    background:white;
}
.loader1{
    width:0;
}
.loader2{
  width:0;  
}
.entry{
    position: absolute;
    inset:0;
    z-index:998;
    height:100%;
    width:100%;
    display:grid;
    place-items:center;
    color:white;
    font-size:1.75rem;
    overflow:hidden;
    text-decoration:underline;
}

.logo{
width:3rem;
height:3rem;
border-radius:100%;
box-shadow: 0 25px 50px -12px rgb(0 0 0 /0.25);
background:url(img/logo.png);
background-size:cover;
background-position:center;
background-repeat:no-repeat;
position:relative;
z-index:100;
}
.mouse-event{
    position: absolute; 
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    z-index: 101;
    display: flex;
    background: palegreen;
    mix-blend-mode: difference;
    justify-content: center;
    align-items:center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    pointer-events: none;
}


.scale{
    width: 8rem;
    height: 8rem;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;
    font-size: 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 100;
}
.menu-toggle{
    position: relative;
    z-index: 100;
    font-family: j1;
}
.primary-nav{
    position: fixed;
    height: 100dvh;
    width: 100%;
    overflow: hidden;
    inset: 0;
    display: none;
}
.first-nav{
    position: absolute;
    width: 100%;
    height: 0vh;
    inset: 0;
    background: black;
    z-index: 10;

}
.second-nav{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 0vh;
    background: red;
    z-index: 10;
    overflow: hidden;
    color: white;
}
.primary-navigation{
    display: flex;
    flex-direction: column;
    gap: var(--h1-font);
    font-size: var(--h1-font);
    justify-content: center;
margin-left: 15dvw;
height: 100%;
font-family: j1;
}
.primary-navigation>a{
    color:white;
}
.primary-navigation>a:hover{
    color: black;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.header{
    position: relative;
    height: 100dvh;
    width: 100%;
    background: url(img/caricature-5280770_1280.jpg);
    background-size: cover;
    z-index: 20;
}

.side{
    height: 100%;
    width: 100%;
    position: absolute;
    display: grid;
    place-items: center;
    overflow: hidden;
   
}

.title{
    font-size: var(--h1-font);
    width: 70dvw;
    margin: 0px 15dvw;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.title > h2{
    font-family:j1;
}
.small-title{
   font-size:var(--p-text);
   width: 50%;
   margin-left: auto;
}
.name{
    font-size: 1.5rem;
    color: black;
}


.right-side .title .name{
    color:white;
}
.left-side .title .name{
    color: black;
}

.left-side{
    background:red;
    z-index: 2;
    color: white;

}
.right-side{
    background: var(--bg-2); 
    color: black;
}

.fancy{
    color: yellow;
}
.fancy2{
    color: #00416A  ;
}
.work-slider{
    white-space: nowrap;
    margin-block: var(--m-g);
    height:6.5rem;
    font-size: 2rem;
    background: black;
    color:var(--bg-1);
    overflow: hidden;
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 2;
    font-family: j1;
    
}

.work-slide{
    display: flex;
    text-transform: uppercase;
    overflow: hidden;
    width:fit-content;
    align-items:center;
    height:100%;
    flex:auto;
    flex-direction:row;
}

.work-slide>div{
    margin-inline:5rem;
    flex-shrink:0;
}


@keyframes slide{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}

.project{
    margin-bottom:var(--m-g);
}
.content-container{
    display: flex;
}
.content-container>*{
    flex: 1;
}
.content-block{
    display: flex;
    flex-direction: column;
}
.prj-title{
    font-size: var(--h1-font);
    font-family: j1;
}
.content>p{
    margin-block: 1.5rem;
    font-size:var(--p-text);
}
.media-image{
    display: none;
}
.media-image img {
    height:12.5rem;
    width:100%;
    object-fit:cover;
    aspect-ratio:4 / 3;
}
.content{
    height: 100vh;
justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-inline:1.5rem;
    
}
.work-container{
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
padding-inline: 2rem;
}
.project-image{
    height: 50vh;
    width: 100%;
position: relative;
overflow: hidden;
box-shadow: 0 25px 50px -12px rgb(0 0 0 /0.25);
border:2px solid black;
border-radius: 1rem;
}

.image{
height: 100%;
position: absolute;
width:100%;
box-shadow: 0 25px 50px -12px rgb(0 0 0 /0.25);
overflow: hidden;
inset: 0;

}
.image div{
    height:100%;
    width:100%;
}
.img1{
    background:url(img/IMG_20230908_134018.jpg) ;
    background-size:100% 100%;
    background-position: center center;
    
    background-repeat: no-repeat;
}
.img2{
    background:url(img/IMG_20230908_134048.jpg) ;
    background-size:100% 100%;
    background-position: center center;
    
    background-repeat: no-repeat;
}
.img3{
    background:url(img/Screenshot_2023-09-25-18-47-02-22_40deb401b9ffe8e1df2f1cc5ba480b12.jpg) ;
    
    background-size:100% 100%;
    background-position: center center;
    
    background-repeat: no-repeat;
}
.img4{
    background:url(img/IMG_20230908_134031.jpg); 
    background-size:100% 100%;
    background-position: center center;
    
    background-repeat: no-repeat;
}
.about{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
padding-inline: 1.5rem;
margin-block: var(--m-g);
height: 100%;
}
.parallax{
 height:80vh;
    width:100%;
    overflow:hidden;   
    margin-top:var(--m-g);
}

.about-img{
    background:url(img/comp.jpg);
    background-size:cover;
    background-position: center center;
    background-repeat:no-repeat;
    height:100vh;
    width:100%;
    overflow:hidden;
    position:relative;
    display:grid;
    grid-template-columns:repeat(20,1fr);
}
.about-img div{
    background:var(--bg-1)  ;
    height:100%;
}


.about-title{
    font-size: 2rem;
    overflow: hidden;
    font-weight: normal;
}
.about-title span{
    overflow: hidden;
    display: inline-block;
    transform: translateY(-100%);
}
.about-content{
margin-inline:2rem;
overflow: hidden;
}
.about-content h2{
    margin-inline: auto;
    display:  inline-block;
    overflow: hidden;
    font-size:var(--p1-text);
    font-weight: normal;
}
.about-content h2 span {
transform: translateY(-100%);
display:  inline-block;
opacity: 0;
}
.btn{
    
    text-transform: capitalize;
    font-size:1rem;
    width: 10rem;
    display: flex;
    font-weight:bold;
    color:var(--bg-1);
    height:2.75rem;
    gap:.125rem;
    transition: all 350ms ease-in-out;
}
.play{
    height:1.5rem;
    width:1.5rem;
    font-size:.75rem;
    position: absolute;
    right:-.8125rem;
    top:25%;
    background: var(--bg-1);
    border-radius:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.fa-play{
    color:#cdcdbc;
}
.btn1{
    width:20%;
    display:flex;
    align-items: center;
    position:relative;
    background:#efe8d8;
    height:2.75rem;
    border-top-left-radius:.5rem;
    border-bottom-left-radius:.5rem;
}
.btn2{
    height:2.75rem;
    width:75%;
    display:flex;
    justify-content:center;
    align-items: center;
    background:#cdcdbc;
    border-top-right-radius:.5rem;
    border-bottom-right-radius:.5rem;
}
.about .btn{
width: 0px;
transform: scale(0);
transform-origin: 50% 50%;
}

.racesWrapper{
    height:100vh;
    display:grid;
    place-items:center;
    background:#efe8d8;
}

.races{
   width: fit-content;
   display: flex;
   flex-wrap: nowrap;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.races h2{
font-size: 15dvw;
flex-shrink: 0;
padding:4rem;
margin: 0;
font-family:j1;
    background:white;
    color:#ffc436;
}

.races .gsap{
    color:#00416A  ;
    background: yellow;
}
/*.contact{
    height:100dvh;
    width:100%;
    position:relative;
    overflow: hidden;
    display:flex;
    padding-inline:1rem;
    flex-direction:column;
    
}


.mask{
    position: absolute;
clip-path:polygon(30% 30%, 70% 30%, 70% 70%, 30% 70%);
    inset:0;
    width:100%;
    height:100%;
    z-index:-1;
    overflow: hidden;
}
.bus{
    width:100%;
    height:100%;
    object-fit:cover;
    
    position: absolute;
    inset:0;
}
.contact-info{
    height:100%;
    display:flex;
    flex-direction: column;
    gap:1rem;
    justify-content:center;
    padding-left:1rem;
}
.contact-info h2{
    color:white;
    font-weight:normal;
    font-size:var(--p-text);
} */
.nav-social{

.footer{
    width:100%;
    height:100vh;
    color:black;
    overflow:hidden;
    padding:3rem;
    position:relative;
    background:white;

}
.canvas{
    position: absolute;
    inset:0;
    width:100%;
    height:100%;
    z-index:-1;
}
.contact-title{
    font-size:var(--xl-text);
    font-family:j1;
    border-bottom:1px solid black;
    padding-bottom:1rem;
    margin-bottom:1rem;
}

.footer-links{
    
    display:flex;
    justify-content:space-evenly;
    gap:1rem;
}
.footer-links a {
    color:#808080;
    font-size:var(--p-text);
}

.footer-links a:hover {
    text-decoration:line-through;
}

.end-footer{
    font-size:var(--p-text);
    position: absolute;
bottom:1rem;
    left:2rem;
    width:100%;
    display:flex;
    flex-direction: column;
    gap:.5rem;
    
}
 .sm-text{
    font-size:5dvw;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    font-family:j1;
    width:100%;
     place-items:center;
     margin-top:2rem;
}
.sm-text1{
    transform: rotate(5deg);
    background:yellow;
    
}
.sm-text2{
    transform:rotate(60deg);
    background:#073b3a;
    color:white;
}
.sm-text3{
    transform:rotate(23deg);
    color:#00416A ;
}
.sm-text4{
    color:#1e453e;
    background:tomato;
}
.times{
    color:#fcc436;
}
@media (width<750px) {
.small-title{
width: 100%;
}
 .name{
    font-size: 1.25rem;
 }
    
    .content{
        width: 100%;
        height:100%;
        margin-block:4rem;
        }
    
    .content-container{
        display: block;
    }
    .content-block{
        margin-block: 0rem;
    }
    
    .work-container{
        display: none;
    }
    .media-image{
        display: block;
        width: 100%;
        margin-bottom:1rem;
        position:relative;
        overflow:hidden;
    }
    .imgs{
        transform:scale(1.5);
        width:100%;
        aspect-ratio:4/5;
    }
    .lay{
       position: absolute;
        inset:0;
        width:100%;
        height:100%;
        background:var(--bg-1);
        
    }
    .about{
       display: flex;
        flex-direction:column;
        place-items:start;
        width: 100%;
        }
    .about-content{
        margin: 1.5rem 0;
        width: 100%;
        
    } 
    .parallax{
        height:40dvh;
    }
    .about-img{
        height:60dvh;
    }

    .racesWrapper{
        height:60dvh;
    }
    .races h2{
        font-size:30dvw;
    }
    .footer{
        padding:2rem 1.5rem;
    }
    .sm-text{
        font-size:17dvw;
    }
    
}
